* {
    margin: 0;
    padding: 0;
}
body {
    color: #000;
}
ul {
    list-style.type: none;
    overflow: hidden;
}
li {
    display: block;
    float: left;
    padding: 0.5em;
    text-align: center;
    color: blue;
}
#updatedData p {
    display: inline;
}
.highlight {
    background-color: yellow;
    cursor: pointer;
}
.duplicate {
    background-color: yellow;
    cursor: pointer;
}