* {
    margin: 0;
    padding: 0;
}
body {
    color: #000;
    background-color: #e2dfdf;
}
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.editable {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    box-sizing: border-box;
    width: 100%;
    height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
    padding: 1em;
    resize: none;
    background-color: #fff;
    border: 1px solid #ccc;
}
button {
    margin-top: 1em;
    padding: 1em;
    cursor: pointer;
}
ul {
    overflow: hidden;
    text-align: center;
}
li {
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    color: blue;
    cursor: pointer;
}
.highlight {
    background-color: yellow;
}
.clicked {
    background-color: blue;
}
span .clicked {
    background-color: blue;
}